In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

musze dodac train test split i znalezc lepsze hyperparametry

In [2]:
# importing train data
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
test_data = pd.read_csv('/kaggle/input/titanic/test.csv')
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
#checking the amount of null labels
train_data.isna().sum(), train_data.dtypes

(PassengerId      0
 Survived         0
 Pclass           0
 Name             0
 Sex              0
 Age            177
 SibSp            0
 Parch            0
 Ticket           0
 Fare             0
 Cabin          687
 Embarked         2
 dtype: int64,
 PassengerId      int64
 Survived         int64
 Pclass           int64
 Name            object
 Sex             object
 Age            float64
 SibSp            int64
 Parch            int64
 Ticket          object
 Fare           float64
 Cabin           object
 Embarked        object
 dtype: object)

## we can delete Ticket , Name, Fare , Cabin , Embarked and Passenger ID
## and Age because there is too much empty values

In [5]:
train_data.drop(['Ticket','Name','Fare','Cabin','Embarked','Age'],axis = 1, inplace =  True)
test_data.drop(['Ticket','Name','Fare','Cabin','Embarked','Age'],axis = 1, inplace =  True)
train_data , test_data

(     PassengerId  Survived  Pclass     Sex  SibSp  Parch
 0              1         0       3    male      1      0
 1              2         1       1  female      1      0
 2              3         1       3  female      0      0
 3              4         1       1  female      1      0
 4              5         0       3    male      0      0
 ..           ...       ...     ...     ...    ...    ...
 886          887         0       2    male      0      0
 887          888         1       1  female      0      0
 888          889         0       3  female      1      2
 889          890         1       1    male      0      0
 890          891         0       3    male      0      0

 [891 rows x 6 columns],
      PassengerId  Pclass     Sex  SibSp  Parch
 0            892       3    male      0      0
 1            893       3  female      1      0
 2            894       2    male      0      0
 3            895       3    male      0      0
 4            896       3  female      1      1
 ..           ...     ...     ...    ...    ...
 413         1305       3    male      0      0
 414         1306       1  female      0      0
 415         1307       3    male      0      0
 416         1308       3    male      0      0
 417         1309       3    male      1      1

 [418 rows x 5 columns])

In [6]:
# turns off silent downcasting and avoids error in future versions
pd.set_option('future.no_silent_downcasting', True)

# changing sex from object type to numerical values
train_data.replace({'male': 0 , 'female' : 1}, inplace = True)
test_data.replace({'male': 0 , 'female' : 1}, inplace = True)
train_data['Sex'].dtype,train_data.head(),test_data.head()

(dtype('O'),
    PassengerId  Survived  Pclass Sex  SibSp  Parch
 0            1         0       3   0      1      0
 1            2         1       1   1      1      0
 2            3         1       3   1      0      0
 3            4         1       1   1      1      0
 4            5         0       3   0      0      0,
    PassengerId  Pclass Sex  SibSp  Parch
 0          892       3   0      0      0
 1          893       3   1      1      0
 2          894       2   0      0      0
 3          895       3   0      0      0
 4          896       3   1      1      1)

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
y = train_data['Survived']
X = train_data.drop('Survived' , axis = 1)

# X_train , X_test , y_train , y_test = train_test_split(X , y ,test_size = 0.2)

clf = RandomForestClassifier();
# clf.fit(X_train , y_train)
# clf.score(X_test , y_test)
clf.fit(X, y);

In [8]:
# tuning hyperparameters using gridsearchcv

from sklearn.model_selection import GridSearchCV

grid = {'n_estimators': [5,10,20,30,40,50,100],
         'max_depth': [None],
         'max_features': ['sqrt'],
         'min_samples_split': [7 , 8 ,9],
         'min_samples_leaf': [1, 2, 3]}
gs_clf = GridSearchCV(estimator = clf,
                      param_grid = grid,
                     cv = 5,
                     verbose = 1)
gs_clf.fit(X , y)

Fitting 5 folds for each of 63 candidates, totalling 315 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [None], 'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 3],
                         'min_samples_split': [7, 8, 9],
                         'n_estimators': [5, 10, 20, 30, 40, 50, 100]},
             verbose=1)

In [9]:
gs_clf.best_params_

{'max_depth': None,
 'max_features': 'sqrt',
 'min_samples_leaf': 3,
 'min_samples_split': 9,
 'n_estimators': 50}

In [10]:
# gs_clf.fit(X_train , y_train)

In [11]:
X_test = test_data

predictions = gs_clf.predict(X_test)

In [12]:
result = pd.DataFrame({'PassengerId' : test_data['PassengerId'],
                      'Survived':predictions})
result.to_csv('submission.csv', index = False)
print("Your submission was successfully saved!")

Your submission was successfully saved!